<h1>Run An Errand</h1>
<% if @errand %>
        <% @errand.each do |errand| %>
            Category: <%= errand.category.category %><br>
            Description: <%= errand.description %><br>
            Due date: <%= errand.due_date %>
            Created by: <%= errand.user.first_name %> <%= errand.user.last_name %><br>
            <%= form_with model: errand, url:errand_pickup_path do |f| %>
            <%= f.submit "Run errand" %>
            <% end %>
        <% end %>
<% end %>

