<h1><% if params[:format].to_i == 0 %>
  Pick up an Errands
  <% elsif params[:format].to_i == 1 %>
  My Errands
  <% elsif params[:format].to_i == 2 %>
  Ran Errands
  <% end %></h1>

<table class="table">
    <thead class="black white-text">
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Description</th>
        <th scope="col">Created by</th>
      </tr>
    </thead>
    <tbody>
        <% if @errands %>
        <% @errands.each do |errand| %>
      <tr>
        <td><%= errand.category.category %></td>
        <% if params[:format].to_i == 0 %>
        <td><%= link_to errand.description, errand_pickup_path(errand) %></td>
        <% elsif params[:format].to_i == 1 %>
        <td><%= link_to errand.description, edit_errand_path(errand) %></td>
        <% elsif params[:format].to_i == 2 %>
        <td><%= link_to errand.description, errand %></td>
        <% end %>
        <td><%= errand.user.first_name %> <%= errand.user.last_name %></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>