<h1><% if params[:format].to_i == 0 %>
  Pick Up An Errand
  <% elsif params[:format].to_i == 1 %>
  My Errands
  <% elsif params[:format].to_i == 2 %>
  Ran Errands
  <% end %></h1>

<table class="table">
    <thead class="black white-text">
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Description</th>
        <th scope="col">Due Date</th>
        <th scope="col">Created by</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        <% if @errands %>
        <% @errands.each do |errand| %>
      <tr>
        <td><%= errand.category.category %></td>
        <td><%= errand.description %></td>
        <td><%= errand.due_date %></td>
        <td><%= errand.user.first_name %> <%= errand.user.last_name %></td>



        <% if params[:format].to_i == 0 %>
        <td><%= link_to "Pick up", errand_pickup_path(errand) %></td>
        <% elsif params[:format].to_i == 1 %>
        <td><%= link_to "View", errand %> / <%= link_to "Edit", edit_errand_path(errand) %> / <%= link_to "Delete", errand, method: :delete, data: { confirm: "Are you sure to delete this errand?" } %> 
          <% if errand.runner_user_id %>
            <% if !errand.comment %>
            / <%= link_to "Comment", new_errand_comment_path(errand) %>
            <% end %>
          <% end %>
        <% elsif params[:format].to_i == 2 %>
        <td><%= link_to "View", errand %></td>
        <% end %>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>