  <div class="text-center border border-light p-5">
   Created By: <%= @errand.user.first_name %> <%= @errand.user.last_name %><br>
   Description: <%= @errand.description %><br>
   Due Date: <% if @errand.due_date %><%= @errand.due_date.strftime("%m/%d/%Y") %><% end %><br>
   Payout: <%= @errand.category.credit %>
  </div>
   
  <% if @comment %>
    <p>Errand Creator Says: <%= @comment.content %></p>
    <p>Rating: <%= @comment.rating %></p>
    <% if @replies %>
    
    <% @replies.each do |reply| %>
    <div class="text-center p-2">
    <div style="text-align: left;">
    <%= reply.content %> <br>
    </div>
    </div>
                 <% end %>
 <% end %>
 <%= link_to "Reply", new_comment_reply_path(@comment), :class => 'btn btn-info btn-block my-4' %>
   <% end %>
   