  <div class="text-center border border-light p-5">
   Created By: <%= @errand.user.first_name %> <%= @errand.user.last_name %><br>
   Description: <%= @errand.description %><br>
   Due Date: <%= @errand.due_date %><br>
   Credit: <%= @errand.category.credit %>
  </div>
   
  <% if @comment %>
    <p>Comment: <%= @comment.content %></p>
    <p>Rating: <%= @comment.rating %></p>
    <%= link_to "Reply", :class => 'btn btn-info btn-block my-4' %>
  <% end %>