<%= flash[:error] %>
<%= form_with model: @user, class: :"text-center border border-light p-5" do |f| %>
<p class="h4 mb-4">Edit my Profile</p>
<%= f.text_field :first_name, class: :"form-control mb-4", placeholder: :"First Name" %>
<%= f.text_field :last_name, class: :"form-control mb-4", placeholder: :"Last Name" %>
<%= f.password_field :password, class: :"form-control mb-4", placeholder: :"Password" %>
<%= f.password_field :password, class: :"form-control mb-4", placeholder: :"Confirm Password" %>
<%= f.submit "Update", :class => 'btn btn-primary btn-block my-4'%>
<% end %>

