
<h1>Welcome back, <%= @user.first_name%>!</h1>

<!-- Grid column -->
<div class="col-md-12">

    <div><button type="button" class="btn btn-outline-success btn-rounded waves-effect"><i class="fas fa-cogs pr-2"
        aria-hidden="true"></i><%= link_to 'Run An Errand', errands_path(0) %></button></div>
    <div><button type="button" class="btn btn-outline-info btn-rounded waves-effect"><i class="fas fa-wheelchair pr-2"
        aria-hidden="true"></i><%= link_to 'My Errands', errands_path(1) %></button></div>
    <div><button type="button" class="btn btn-outline-warning btn-rounded waves-effect"><i class="fas fa-car pr-2"
        aria-hidden="true"></i><%= link_to 'Ran Errands', errands_path(2) %></button></div>
    <div><button type="button" class="btn btn-outline-danger btn-rounded waves-effect"><i class="fas fa-train pr-2"
        aria-hidden="true"></i><%= link_to "Create An Errand", new_errand_path(@earrand) %></button></div>
    <div><button type="button" class="btn btn-outline-danger btn-rounded waves-effect"><i class="fas fa-train pr-2"
        aria-hidden="true"></i><%= link_to "Edit My Profile", edit_user_path(@user) %></button></div>
    
  </div>
  <!-- Grid column -->

<div><h3><%= link_to 'Run An Errand', errands_path(0) %></h3></div>
<div><h3><%= link_to 'My Errands', errands_path(1) %></h3></div>
<div><h3><%= link_to 'Ran Errands', errands_path(2) %></h3></div>
<div><h3><%= link_to "Create An Errand", new_errand_path(@earrand) %></h3></div>
<div><h3><%= link_to "Edit My Profile", edit_user_path(@user) %></h3></div>
