<h1>Login</h1>
    <!-- <% if @user.errors.any?  %>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %> -->

    <%= form_with url: "login" do |f| %>
    <%= f.label :user_name %>
    <%= f.text_field :user_name %><br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit "Login", :class => 'btn btn-primary' %>
<% end %>
